/* Color palette : https://coolors.co/palette/007f5f-2b9348-55a630-80b918-aacc00-bfd200-d4d700-dddf00-eeef20-ffff3f */
body {
  /* background-color: #c2e1b9; */
  /* background-color: #00c1b2; */
  background-color: #eeeeee;
  font-family: 'Lilita One', cursive;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.container-fluid {
  padding: 1% 5%;
}

.line {
  position: relative;
  width: 80%;
  left: 10%;
}

/* Navbar */
.navbar-brand {
  font-size: 5rem;
  text-transform: capitalize;
}

.colon {
  padding: 5px 5px;
}

/**/
.day {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 600px;
  position: absolute;
  border-radius: 1rem;
  background-color: #ffffff;
}

.day-title {
  margin-top: 5px;
  font-size: 2rem;
}

.meal {
  color: #000000;
  font-size: 2rem;
  height: 260px;
  margin: 5px 15px;
}

.meal-title {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mon {
  border: 0.1rem solid #007f5f;
  position: relative;
  border-top-width: 0;
}

.mon-line {
  border-bottom: 0.1rem solid #007f5f;
}

.mon-title {
  background-color: #007f5f;
  display: block;
  border-radius: 0.9rem 0.9rem 0 0;
}

.tues {
  border: 0.1rem solid #55a630;
  position: relative;
  border-top-width: 0;
}

.tues-line {
  border-bottom: 0.1rem solid #55a630;
}

.tues-title {
  background-color: #55a630;
  display: block;
  border-radius: 0.9rem 0.9rem 0 0;
}

.wed {
  border: 0.1rem solid #aacc00;
  position: relative;
  border-top-width: 0;
}

.wed-line {
  border-bottom: 0.1rem solid #aacc00;
}

.wed-title {
  background-color: #aacc00;
  display: block;
  border-radius: 0.9rem 0.9rem 0 0;
}

.thurs {
  border: 0.1rem solid #aacc00;
  position: relative;
  border-top-width: 0;
}

.thurs-line {
  border-bottom: 0.1rem solid #aacc00;
}

.thurs-title {
  background-color: #aacc00;
  display: block;
  border-radius: 0.9rem 0.9rem 0 0;
}

.fri {
  border: 0.1rem solid #007f5f;
  position: relative;
  border-top-width: 0;
}

.fri-line {
  border-bottom: 0.1rem solid #007f5f;
}

.fri-title {
  background-color: #007f5f;
  display: block;
  border-radius: 0.9rem 0.9rem 0 0;
}

.sat {
  border: 0.1rem solid #55a630;
  position: relative;
  border-top-width: 0;
}

.sat-line {
  border-bottom: 0.1rem solid #55a630;
}

.sat-title {
  background-color: #55a630;
  display: block;
  border-radius: 0.9rem 0.9rem 0 0;
}

.sun {
  border: 0.1rem solid #aacc00;
  position: relative;
  border-top-width: 0;
}

.sun-line {
  border-bottom: 0.1rem solid #aacc00;
}

.sun-title {
  background-color: #aacc00;
  display: block;
  border-radius: 0.9rem 0.9rem 0 0;
}

.note {
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

.options-top {
  position: absolute;
  top: 45%;
}

.options-bottom {
  position: absolute;
  top: 92%;
}

.option-refresh {
  left: 10%;
}

.option-tag {
  left: 30%;
}

.option-list {
  right: 10%;
}

@media (max-width: 576px ) {

  /* Navbar */
  .navbar-brand {
    font-size: 2rem;
    text-transform: capitalize;
  }

}
